* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: .5s all;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Alata", sans-serif;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}